node_modules

dist/server
dist/shared

flow-coverage

.env
.vscode
.DS_Store
tmp*

coverage

test/**/_results

# from webpack in build-client
dist/*.eot
dist/*.ttf
dist/*.svg
dist/*.woff
dist/*.png
dist/*.js


local.log
tests_output
#This folder holds the copy of files from local history plugin.
.history/
